body{
	/*border:1px solid #5D80B6; /*A little darker than Light blue */
	background-color:#acbcd3; /*Light blue*/
	/*background-image: url("images/background1.jpg"); il path tal image qed immur min go css ma nafx ala*/
}

/* Global css for divs - Round corner css white & backgroud*/  
.rc{	
	background-color:white;
	border-radius: 7px;
	padding:1%;
}

/*Menu*/
.accountNav{ /*the div that hold both left & right sections*/
	height:100px;/*Make sure that both height values of .rightSect & .logo are same as this.*/
	margin-bottom:2px;
}

.logo{ /*Left Section*/
	margin:0;
	padding:0;
	height:100px;
	width:35%;
	float:left;
}


.rightSect{ /*Right Section*/
	margin:0;
	padding:0;
	padding-top:60px;
	padding-right:1%;
	text-align:right;
	width:65%;	
	height:100px;
	float:right;
}


/* Login/Logout button css */
/* .login mamiltc peress li jkun inline by default*/
.logout{
	display:none;
}

.welcMsg{
	display:none;
}


.logoutButt{
	float:right;
	text-align:right;
}

.loginButt{
	float:right;
	text-align:right;
}

.regButt{
	float:right;
	text-align:left;
	padding-left:1%;
}


.mobSearch{
	width:100%;
}



.mobLogin  {
	margin-bottom:5px;
}

.navbar-nav ul a {
	background-color:black;
	border:1px solid red;
	color:red;
}




/*Footer*/ 
.footerCanvas{
	margin:0;
	padding:0;
	height:200px; /*il menu 100 qied (bicca tal logo)*/
}

/*Footer Desktop CSS*/
.bottomLinks ul li a{
	color:#999D9D; /*grey*/
	background-color:#2E2E2E; /*Black like main nav background*/
}

.bottomLinks ul li a:hover{
	background-color:#2E2E2E; /*Black like main nav background*/
	color:white;
}

.desktopFooter .bottomLinks{
	padding:1%;
	width:75%;
	float:left;
	height:200px;
	padding-top:130px;
}


.desktopFooter .info{
	padding:1%;
	width:25%;
	height:200px;
	float:left;
}


/*Footer mobile CSS*/
.mobFooter .info{
	margin-top:10%;
	padding-left:2%;
}



/*Register form  & Contact us CSS*/
.register,.contactForm{
	padding:1%;
	margin-left:5%;
	margin-right:5%;	
}

.mobSubmit{
	width:96%;
	margin-left:2%;
	margin-right:2%;
}

.dobDropdown{
	width:60%;
	display:inline-block;
	
}

.dob label{
	width:15%;
}

.dob select{
	margin-bottom:2%;
}


/*Login form Css*/
.loginForm{
	padding:1%;
	margin-left:5%;
	margin-right:5%;
	border:1px solid #5D80B6;
}

/* ms Css*/

/* image width and height for grid*/
.iSize img{
	width:100%;
	height:250px;
}

.mDescription{
	margin-top:1%;
	margin-bottom:20%;
	padding:1%;
	background-color:#C4C4C8;
	border-radius: 3px;
	text-align:center;
}


/* AddOff css*/
.header{
	text-align:center;
}



/*Buy.php Css*/
.buyMovie{
	text-align:center;
}

.movieInfo{
	width:40%;
	text-align:left;
	margin-left:30%;
	margin-right:40%;
	padding:1%;
	background-color:#C4C4C8;
	border-radius: 3px;
}

#quantityTxt{
	display:inline;
	
}

#quantity{
	width:100px;
	display:inline;
}









